@page "/"
@using UOS.Client.Types.Enums
@inject HttpClient HttpClient;
@inject IJSRuntime JSRuntime;
@rendermode InteractiveWebAssembly

<PageTitle>RobCo Industries Unified Operating System</PageTitle>

@if (!RendererInfo.IsInteractive) return;

<div class="robco-main" @ref="@MainRef" tabindex="0" @onkeydown="@KeyDown">
    <HeaderComponent @bind-Finished="HeaderFinished"/>
    <div class="robco-content">
    @if (HeaderFinished)
    {
        @switch (State)
        {
            case 0:
                <MainMenu KeyboardEventArgs="@KeyboardEventArgs" @bind-State="@State"/>
                break;
            case 1:
                <AboutMenu KeyboardEventArgs="@KeyboardEventArgs" @bind-State="@State"/>
                break;    
            case 2:
                <ProjectsMenu KeyboardEventArgs="@KeyboardEventArgs" @bind-State="@State"/>
                break;
            case 3:
                break;
            case 4:
            case 5:
            case 6:
            case 7:
            case 8:
            case 9:
            case 10:
            case 11:
            case 12:
            case 13:
            case 14:
                <ProjectFileMenu KeyboardEventArgs="@KeyboardEventArgs" @bind-State="@State"/>
                break;
            default:
                @if (Text != "")
                {
                    <DataCorruptionComponent ErrorCode="TerminalError.MemoryFault" Text="@Text"/>
                }
                break;
        }
    }
    </div>
</div>
    
@code {

    public int State
    {
        get;
        set;
    } = 0;

    private ElementReference MainRef { get; set; }
    
    public bool HeaderFinished { get; set; } = false;

    private KeyboardEventArgs KeyboardEventArgs
    {
        get
        {
            var val = field;
            field = new KeyboardEventArgs();
            return val;
        }
        set;
    } = new KeyboardEventArgs();

    public string Text { get; set; } = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await JSRuntime.InvokeVoidAsync("SetFocusToElement", MainRef);
            return;
        };

        Text = await HttpClient.GetStringAsync("/text/mainMenuCorrupted.txt");
        await InvokeAsync(StateHasChanged);
    }

   
    protected void KeyDown(KeyboardEventArgs e)
    {
        KeyboardEventArgs = e; 
        StateHasChanged();
    }

}